// Define variables for your color scheme

// For example:
$red: #bd282a;
$blue: #215cb5;
$yellow: #e3c55c;
$orange: #d07322;
$green: #599b2c;
$gray: #0E0000;
$light-gray: #E9E9E9;
$beige: #B79E74;
$light-beige: #C8BBAA;
$black: #1D1514;
