// Define variables for your color scheme

// For example:
$red: #bd282a;
$blue: #215cb5;
$yellow: #e3c55c;
$orange: #d07322;
$green: #8ca47c;
$gray: #0E0000;
$light-gray: #f4f4f4;
$beige: #B79E74;
$light-beige: #C8BBAA;
$black: #1D1514;
$home-orange: #DF7861;
$home-light: #ECB390;
$home-blue: #D4E2D4;
$home-beige: #FCF8E8;
