// Specific CSS for your home-page
$small: 375px;
$medium: 1024px;
$large: 1366px;
$xlarge: 1920px;

.bg-color {
  background-color: $light-gray;
  background-size: cover;
}

.bg-img {
  background-image: url("stor-eye_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  width: auto;
}

.txt-s {
  font-size: small;
}

.txt-xs {
  font-size: 9pt;
}

.main-box {
  background-color: white;
  margin: 10px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 4pt;
  padding: 20px;
}


.fa-search, .fa-edit, .fa-trash-alt, .fa-undo, .fa-arrow-left,ã€€{
  color: $home-orange;

    &:hover {
      color: $home-light;
      text-decoration: none;
    }
}

.fa-shopping-cart, .fa-map-marker, .fa-archive, .fa-truck {
  color: $home-blue;
}

.link_to {
  color: black;
  text-decoration: none;
}

.card-home {
  background-color: white;
  border-top: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  border-radius: 4pt;
  width: 448px;
  height: 100px;
  padding: 3%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 30px;
}

.h3 {
  color: grey;
}

.badge-blue {
  background-color: $home-blue;
  color: #787f78;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 6pt;
  width: 80px;
  font-size: small;
  font-weight: bold;
  text-align: end;
}
