// Specific CSS for your home-page
.bg-gray {
  background-color: $light-gray;
}
.bg-img {
  width: 100%;
  height: auto;
  background-image: url("stor-eye_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-home {
  background-color: $light-beige;
  border: 0;
  border-radius: .3rem;
  box-sizing: border-box;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .50rem 0.75rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2pt;

    &:hover {
    background-color: #afa495;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}

.txt-s {
  font-size: small;
}
