// Specific CSS for your home-page
$small: 375px;
$medium: 1024px;
$large: 1366px;
$xlarge: 1920px;

.bg-color {
  background-color: rgba(221, 221, 221, 0.2);
}

.bg-img {
  background-image: url("stor-eye_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.txt-s {
  font-size: small;
}

.main-box {
  background-color: white;
  margin: 10px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 4pt;
  padding: 20px;
}

.fa-search {
  color: #69272D;
}

.fa-edit {
  color: #69272D;
}

.fa-trash-alt {
  color: #69272D;
}

.fa-undo {
  color: #69272D;
}

.fa-arrow-left {
  color: #69272D;
}
