// Specific CSS for your home-page
$small: 375px;
$medium: 1024px;
$large: 1366px;
$xlarge: 1920px;

.bg-color {
  background-color: $light-gray;
  background-size: cover;
}

.bg-img {
  background-image: url("stor-eye_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  width: auto;
}

.txt-s {
  font-size: small;
}

.main-box {
  background-color: white;
  margin: 10px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 4pt;
  padding: 20px;
}

.fa-search {
  color: $home-orange;
}

.fa-edit {
  color: $home-orange;
}

.fa-trash-alt {
  color: $home-orange;
}

.fa-undo {
  color: $home-orange;
}

.fa-arrow-left {
  color: $home-orange;
}

.fa-shopping-cart {
  color: $home-blue;
}

.fa-map-marker {
  color: $home-blue;
}

.fa-archive {
  color: $home-blue;
}

.fa-truck {
  color: $home-blue;
}

.link_to {
  color: black;
  text-decoration: none;
}
