.card-img {
  width: 100%;
  height: 342px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-height {
  max-height: 100%;
  width: auto;
  object-fit: contain;
  padding-top: 10px;
  padding-bottom: 10px;
}
