<div class="row col-12">
  <p class="card-text col-6">Created By: <strong><%= purchasing_request.user.first_name %></strong>  (<%= current_user.position %>)</p>
  <p class="card-text col-6">Approval Status: <strong><%= purchasing_request.approval_status %></strong></p>
</div>
