<div class="container">
  <div class="row col-12 justify-content-center">
    <turbo-frame id="buttons_frame">
      <%= render partial: "purchasing_requests/buttons", locals: { purchasing_request: @purchasing_request } %>
    </turbo-frame>
  </div>
  <div class="row col-12">
    <turbo-frame id="approval_status_frame">
      <p class="card-text col-6">Approval Status: <strong><%= @purchasing_request.approval_status %></strong></p>
    </turbo-frame>
  </div>
</div>
