<turbo-stream action="replace" target="approval_status">
  <template>
    <p class="card-text col-6">Approval Status: <strong><%= @purchasing_request.approval_status %></strong></p>
  </template>
</turbo-stream>
