.btn-home {
  background-color: $home-orange;
  border: 0;
  border-radius: .3rem;
  box-sizing: border-box;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .50rem 0.75rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2pt;

    &:hover {
    background-color: $home-light;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}

.btn-create {
  background-color: white;
  border: solid 1px $home-orange;
  border-radius: .3rem;
  box-sizing: border-box;
  color: $home-orange;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .50rem 0.75rem;
  text-align: center;
  text-decoration: none;
  margin-top: 2pt;

    &:hover {
    text-decoration: none;
    color: $home-orange;
  }
}
